<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5" style="text-align: center">
    <div class="card">
      <div class="card-body">
        <div class="m-t-30"> <img src="assets/images/user.png" class="img-circle" width="150" />
          <h4 class="card-title m-t-10">{{user.firstName}} {{user.lastName}}</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">

          <!--second tab-->
          <div class="tab-pane" id="profile" role="tabpanel">
            <div class="card-body">
              <h4 class="font-medium ">Perfil de {{user.firstName}}</h4>
              <hr>
              <div class="row">
                <div class="col-md-3 col-xs-6 b-r"> <strong>Rol</strong>
                  <br>
                  <p class="text-muted">{{user.role}}</p>
                </div>
                <div class="col-md-3 col-xs-6 b-r"> <strong>Tecnología</strong>
                  <br>
                  <span class="label label-info label-rounded" *ngFor="let t of user.technology">{{t.value}}</span>
                </div>
                <div class="col-md-3 col-xs-6 b-r"> <strong>¿Proyecto Asignado?</strong>
                  <br>
                  <span class="label label-danger label-rounded" *ngFor="let p of user.in_project">{{p.name}}</span>
                </div>
                <div class="col-md-3 col-xs-6"> <strong>Experiencia</strong>
                  <br>
                  <p class="text-muted">{{user.experience}}</p>
                </div>
              </div>
              <hr>
              <p class="m-t-30">{{user.bio}}</p>
              <h4 class="font-medium m-t-30">Habilidades</h4>
              <hr>
                <div *ngFor="let t of user.technology">
              <h5 class="m-t-30">{{t.value}} <span class="pull-right">{{t.tech}} %</span></h5>
              <div class="progress">
                <div  [class.bg-danger]="t.value === 'Angular'"
                [class.bg-primary]="t.value === 'Nodejs'"
                [class.bg-info]="t.value === 'Java'" [class.bg-success]="t.value === 'Vue'" role="progressbar" aria-valuenow="t.tech" aria-valuemin="0"
                  aria-valuemax="100" [ngStyle]="{'width.%': t.tech, 'height.px': 6}"> <span class="sr-only">{{t.tech}}% Complete</span> </div>
              </div>
                </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="card ">
                <div class="card-body">
                  <form class="form-horizontal" id="newUser" name="newUser" #userDataUpdate="ngForm"
                    (ngSubmit)="updateUser(userDataUpdate.value)">
                    <div class="form-body">
                      <h3 class="font-medium m-t-30">Información personal</h3>
                      <hr class="m-t-0 m-b-40">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Nombre</label>
                            <div class="col-md-9">
                              <input class="form-control form-control-line" type="text" name="name" id="name"
                                [(ngModel)]="user.firstName"></div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-groupd row">
                            <label class="control-label text-right col-md-3">Apellido/s</label>
                            <div class="col-md-9">
                              <input class="form-control form-control-line" type="lastName" name="lastName"
                                id="lastName" [(ngModel)]="user.lastName">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Rol</label>
                            <div class="col-md-9">
                              <select requiered class="form-control  custom-select" name="rol" id="rol"
                                [(ngModel)]="user.role">
                                <option *ngFor="let roles of dataselect.role" [value]="roles.name">
                                  {{roles.name}}
                                </option>
                              </select></div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Proyectos</label>
                            <div class="col-md-9">
                              <ng-multiselect-dropdown name="project" [data]="dropdownList"
                                [(ngModel)]="user.in_project" [settings]="dropdownSettings">
                              </ng-multiselect-dropdown>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="control-label text-right col-md-3">Experiencia</label>
                            <div class="col-md-9">
                              <select requiered class="form-control custom-select" name="experience" id="experience"
                                [(ngModel)]="user.experience">
                                <option *ngFor="let exp of dataselect.experience" [value]="exp.name">
                                  {{exp.name}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-groupd row">
                            <label class="control-label text-right col-md-3">Tiempo en la empresa</label>
                            <div class="col-md-9">
                              <input class="form-control form-control-line" type="lastName" name="dateNow" id="dateNow"
                                [(ngModel)]="user.date_now" disabled>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-groupd row">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-groupd row">
                            <label class="control-label text-right col-md-3">Fecha de registro</label>
                            <div class="col-md-9">
                              <input class="form-control form-control-line" type="lastName" name="date" id="date"
                                [(ngModel)]="user.date_enter" disabled>
                            </div>
                          </div>
                        </div>
                      </div>
                      <h3 class="font-medium m-t-30">Tecnologías
                        <img src="../../../assets/images/add.svg" alt="" (click)="add()">
                        <img src="../../../assets/images/remove.svg" alt="" width="24" height="24" (click)="remove()">
                      </h3>

                      <hr class="m-t-0 m-b-40">
                      <div>
                        <!--row dinamico-->
                        <div class="row" ngModelGroup="technology">
                          <div class="col-md-6" *ngFor="let tech of user.technology; let in=index">
                            <div class="form-group row">
                              <label class="control-label text-right col-md-3">Tecnología {{in+ 1}}</label>
                              <div class="col-md-9">

                                <select type="text" [(ngModel)]="user.technology[in].value" name="value{{in}}"
                                  class="form-control custom-select" #name="ngModel" required>
                                  <option *ngFor="let t of dataselect.techs" [value]="t.name">
                                    {{t.name}}
                                  </option>
                                </select>

                                <select type="text" [(ngModel)]="user.technology[in].tech" name="tech{{in}}"
                                  class="form-control custom-select" #name2="ngModel" required>
                                  <option *ngFor="let l of dataselect.levels" [value]="l.level">
                                    {{l.level}}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div><!-- end row dinamico-->


                      <h3 class="font-medium m-t-30">Biografia</h3>
                      <hr class="m-t-0 m-b-40">
                     <div class="form-group">
                           <textarea class="textarea_editor form-control col-md-6" rows="10" placeholder="Enter text ..." type="text" name="bio" id="bio"  [(ngModel)]="user.bio"></textarea>
                       </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                              <button class="btn btn-success">Modificar</button>
                              <button id="btn-2" class="btn btn-primary" [routerLink]="['/dashboard']">Volver
                                atrás</button>


                                <button type="button" id="btn-2"
                                class="btn btn-danger" (click)="openModal(template)" >Eliminar Usuario</button>

                                <ng-template #template>
                                  <div class="modal-body text-center">
                                    <p>¿Estás seguro de que quieres borrar a este usuario?</p>
                                    <button type="button" class="btn btn-success" (click)="deleteUser(user.id)" >Si</button>
                                    <button type="button" class="btn btn-danger" (click)="decline()" >No</button>
                                  </div>
                                </ng-template>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6"> </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
