<!-- ============================================================== -->
              <!-- Start Page Content -->
              <!-- ============================================================== -->
              <div class="row">
                  <!-- column -->
                  <div class="col-lg-6">
                      <div class="card">

                          <div class="card-body">

                              <legend>Nuevo usuario</legend>

                              <div class="tab-pane" id="settings" role="tabpanel">
                                  <div class="card-body">
                                      <form  class="form-horizontal form-material" id="newUser" name="newUser" #userData="ngForm" (ngSubmit)="addNewUser(userData.value)">

                                          <div class="form-group">
                                              <label class="col-md-12">Nombre</label>
                                              <div class="col-md-12">
                                                  <input class="form-control form-control-line" type="text" name="name" id="name" ngModel>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <label for="example-email" class="col-md-12">Apellidos</label>
                                              <div class="col-md-12">
                                                  <input class="form-control form-control-line" type="lastName" name="lastName" id="lastName"  ngModel>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-md-12">Tecnologia</label>
                                            <div class="col-md-12">
                                                <select requiered ngModel class="form-control form-control-line"  name="dedication" id="dedication">
                                                    <option *ngFor="let roles of dataselect.role" [value]="roles.name">
                                                      {{roles.name}}
                                                    </option>
                                                 </select>
                                            </div>
                                        </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Experiencia</label>
                                              <div class="col-md-12">
                                                <select requiered ngModel class="form-control form-control-line"  name="experience" id="experience">
                                                    <option *ngFor="let exp of dataselect.experience" [value]="exp.name">
                                                      {{exp.name}}
                                                    </option>
                                                 </select>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Proyecto asignado</label>
                                              <div class="col-md-12">
                                                <select requiered ngModel class="form-control form-control-line"  name="project" id="project">
                                                    <option *ngFor="let project of dataselect.projects" [value]="project.name">
                                                      {{project.name}}
                                                    </option>
                                                 </select>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                              <label class="col-md-12">Tecnologia</label>
                                              <div class="col-md-12">
                                                  <select requiered ngModel class="form-control form-control-line"  name="tech" id="tech">
                                                      <option *ngFor="let tech of dataselect.techs" [value]="tech.name">
                                                        {{tech.name}}
                                                      </option>
                                                   </select>
                                              </div>
                                          </div>

                                          <div class="form-group">
                                              <div class="col-sm-12">
                                                  <button  class="btn btn-success">Crear</button>
                                                   <button id="btn-2" class="btn btn-primary" [routerLink]="['/dashboard']" >Volver atrás</button>
                                              </div>
                                          </div>

                                          <div *ngIf="isAdded" class="alert alert-success" role="alert">
                                              {{confirmText}}
                                            </div>

                                      </form>


                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>


              <!-- ============================================================== -->
              <!-- End PAge Content -->
              <!-- ============================================================== -->


