<!-- ============================================================== -->
              <!-- Start Page Content -->
              <!-- ============================================================== -->
              <div class="row">
                  <!-- column --><div>
                  <button class="btn btn-outline-secondary" [routerLink]="['/dashboard']" >Volver atrás</button></div>
                  <div class="col-lg-12">
                      <div class="card">

                          <div class="card-body">

                              <h4 class="card-title">Actualizar usuario</h4>
                            <form id="newUser" name="newUser" #userDataUpdate="ngForm" (ngSubmit)="updateUser(userDataUpdate.value)">
                                <label for="Name"> Nombre </label>  <input type="text" name="name" id="name" ngModel><br>
                                <label for="Name"> Apellidos </label>  <input type="apellidos" name="apellidos" id="apellidos" ngModel><br>
                                <label for="Name"> Dedicacion </label>  <input type="dedicacion" name="dedicacion" id="dedicacion" ngModel><br>
                                <label for="Name"> Experiencia </label>  <input type="experiencia" name="experiencia" id="experiencia" ngModel><br>
                                <label for="Name"> Proyecto asignado  </label> <input type="proyecto" name="proyecto" id="proyecto" ngModel ><br>
                                <label for="Name"> Tecnología </label>  <input type="tech" name="tech" id="tech" ngModel ><br>
                             <input type="submit" class="btn btn-outline-primary" value="Modificar usuario">
                            </form>

                            <br>
<!--
                            <div *ngIf="isAdded" class="alert alert-success" role="alert">
                                {{confirmText}}
                              </div> -->

                          </div>
                      </div>
                  </div>
              </div>


              <!-- ============================================================== -->
              <!-- End PAge Content -->
              <!-- ============================================================== -->

