<!-- ============================================================== -->
              <!-- Start Page Content -->
              <!-- ============================================================== -->

<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
          <button class="btn btn-outline-primary" style="margin-right: 5px;" [routerLink]="['/form']" >Nuevo usuario</button>


      </div>
    </div>
  </div>
</div>


<!--
              <div class="row">

                  <div class="col-lg-12">
                      <div class="card">



                          <div class="card-body">

                              <h4 class="card-title">Usuarios</h4>
                              <div class="table-responsive">
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th>Nombre</th>
                                              <th>Apellido </th>
                                              <th>Dedicación</th>
                                              <th>Experiencia</th>
                                              <th>Proyecto asignado</th>
                                              <th>Tecnología</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let user of users" >
                                              <td>{{user.firstName}}</td>
                                              <td>{{user.lastName}}</td>
                                              <td>{{user.percent_dedication}}</td>
                                              <td>{{user.experience}}</td>
                                              <td>{{user.in_project}}</td>
                                              <td>{{user.technology}}</td>
                                                  <div class="button-group">
                                                     <button [routerLink]="['/form-update', user.id]" type="button" class="btn btn-success btn-circle"><i class="fa fa-link"></i> </button>
                                                     <button  (click)="deleteUser(user.id)" type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i> </button>
                                                  </div>
                                            </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
              <!-- ============================================================== -->
              <!-- End PAge Content -->
              <!-- ============================================================== -->


              <div class="row">
                  <!-- column -->
                  <div class="col-lg-3 col-md-6" *ngFor="let user of users; let i = index" >
                      <!-- Card -->
                      <div class="card">
                          <img *ngIf="user.technology == 'Angular'" class="card-img-top img-responsive" src="assets/images/angular.png" alt="Card image cap">
                          <img *ngIf="user.technology == 'Nodejs'" class="card-img-top img-responsive" src="assets/images/nodejs.png" alt="Card image cap">
                          <img *ngIf="user.technology == 'Java'" class="card-img-top img-responsive" src="assets/images/java.png" alt="Card image cap">
                          <img *ngIf="user.technology == 'Vue'" class="card-img-top img-responsive" src="assets/images/vue.png" alt="Card image cap">

                          <div class="card-body">

                              <h3 class="card-title">{{user.firstName}} <span> {{user.lastName}}</span></h3>
                              <hr>
                              <p class="card-text">Fecha incorporacion: {{user.date_enter}}</p>
                              <p class="card-text">Antigüedad: {{user.date_now }} días</p>
                              <p class="card-text">Tecnologia: {{user.technology }}</p>
                              <p class="card-text">Experiencia: {{user.experience }}</p>
                              <button (click)="seeUser(i)" type="button" class="btn btn-outline-primary btn-blick">Ver perfil</button>
                              <!-- <a [routerLink]="['/user', i]"  class="btn btn-primary">Ver perfil</a> -->
                          </div>
                          <!-- Card -->
                      </div>
                      <!-- column -->
                    </div>
                    <!-- Row -->
                  </div>
